<!-- Expandable Textfield -->
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
            <input class="mdl-textfield__input" type="text" id="sample3" />
            <label class="mdl-textfield__label" for="sample3">Search all contacts.</label>
        </div>
    </div>
</div>

<!--table content for contacts-->
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp nam-full-width">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">FirstName</th>
                <th>LastName</th>
                <th>Mobile</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">Sachidananda</td>
                <td>Panigrahi</td>
                <td>8857928163</td>

            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">Sachidananda</td>
                <td>Panigrahi</td>
                <td>8857928163</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">Sachidananda</td>
                <td>Panigrahi</td>
                <td>8857928163</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
