<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <!-- Simple Textfield -->
        <form action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--full-width">
                <input class="mdl-textfield__input" type="text" id="sample1" />
                <label class="mdl-textfield__label" for="sample1">Text...</label>
            </div>
        </form>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
        <table class="mdl-data-table mdl-js-data-table mdl-full-width mdl-shadow--4dp">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">First Name</th>
                <th class="mdl-data-table__cell--non-numeric">Last Name</th>
                <th class="mdl-data-table__cell--non-numeric">Phone Number</th>
                <th class="mdl-data-table__cell--non-numeric">City</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">John</td>
                <td class="mdl-data-table__cell--non-numeric">Lennon</td>
                <td class="mdl-data-table__cell--non-numeric">9825214520</td>
                <td class="mdl-data-table__cell--non-numeric">Pune</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">Paul</td>
                <td class="mdl-data-table__cell--non-numeric">McCartney</td>
                <td class="mdl-data-table__cell--non-numeric">7124521452</td>
                <td class="mdl-data-table__cell--non-numeric">Pune</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">George</td>
                <td class="mdl-data-table__cell--non-numeric">Harrison</td>
                <td class="mdl-data-table__cell--non-numeric">9124521452</td>
                <td class="mdl-data-table__cell--non-numeric">Mumbai</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">Ringo</td>
                <td class="mdl-data-table__cell--non-numeric">Starr</td>
                <td class="mdl-data-table__cell--non-numeric">8824521452</td>
                <td class="mdl-data-table__cell--non-numeric">Pune</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>