<div ng-form="{{field}}">
    <div class="input-field" ng-class="{ 'is-invalid': field.$dirty && field.$invalid }" ng-switch='type'>
        <i class="material-icons prefix">{{icons}}</i>
        <input id="{{field}}" ng-switch-default type="{{type}}" class="validate" ng-model='models' ng-change='search()' >
        <input id="{{field}}" type="{{type}}" class="datepicker" ng-model='models' ng-switch-when='date'>
        <label for="{{field}}">{{field | labelCase}}</label>
        <div ng-show='{{field}}.$dirty && {{field}}.$invalid' ng-messages="this.$eval(field)['$error']" role="alert">
            <span class="mdl-textfield__error" ng-repeat='(k, v) in types' ng-message='{{k}}'>
                {{ field | labelCase }} {{v[1]}}
            </span>
        </div>
    </div>
</div>