<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h3 class="mdl-typography--title">Settings</h3>
        <p> Choose the fields to display in the list view: </p>
        <!-- Numeric Textfield with Floating Label -->
        <div ng-repeat='field in allFields '>
            <label for="{{field}}" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                <input type="checkbox" id="{{field}}" class="mdl-checkbox__input" value='{{field}}' ng-checked='fields.indexOf(field) > -1' ng-click='toggle(field)' />
                <span class="mdl-checkbox__label">  {{ field | labelCase }}</span>
            </label>
        </div>
    </div>
</div>
