<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <form name='editContact' novalidate>
            <div class="demo-card-wide mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">{{contact.firstName[0]}} {{contact.lastName[0]}}</h2>
                </div>
                <div class="mdl-card__supporting-text">

                    <!-- Numeric Textfield with Floating Label -->

                    <form-field record='contact' field='firstName' required='true'></form-field>
                    <form-field record='contact' field='lastName' required='true'></form-field>
                    <form-field record='contact' field='{{k}}'
                                ng-repeat='(k,y) in contact | keyFilter: "firstName" | keyFilter: "lastName" | keyFilter: "id" | keyFilter: "userId"'>

                    </form-field>

                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <!-- Accent-colored raised button with ripple -->
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect " ng-click='delete()'>
                        Delete Contact
                        <i class="material-icons">delete</i>
                    </button>
                </div>
                <div class="mdl-card__menu">
                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons">share</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
